@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* General Style */
html{
    overflow-x: hidden;
}

body {
    font-family: 'Work Sans' !important;
}

.mysite-title {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

.mytext-shadowed {
    text-shadow: 4px 4px 10px #000000;
}

.mytext-white {
    color: white;
}

.mytext-brown {
    color: rgba(111, 78, 55, 1) !important;
}

/* Background */
.mybg-white {
    background-color: rgba(241, 241, 241, 1) !important;
}

.mybg-brown100 {
    background-color: rgba(255, 234, 197, 1) !important;
}
.mybg-brown200 {
    background-color: rgba(255, 219, 181, 1) !important;
}

.mybg-darken {
    filter: brightness(50%);
}

.mybg-dark30 {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

.mybg-brown {
    background-color: rgba(166, 123, 91, 1) !important;
}

.mybg-darkBrown {
    background-color: rgba(108, 78, 49, 1) !important;
}

.mybg-darkerBrown {
    background-color: rgba(96, 63, 38, 1) !important;
}

.mybg-orange {
    background-color: rgba(255, 179, 71, 1) !important;
}

.mybg-red {
    background-color: rgba(255, 145, 155, 1) !important;
}

.mybg-blue {
    background-color: rgba(128, 206, 225, 1) !important;
}

.mybg-green {
    background-color: rgba(119, 221, 119, 1) !important;
}
/* End Background */

.mydivider {
    width: 100px;
    border-width: 2px;
}

.bolor-brown {
    border-color:rgba(111, 78, 55, 1);
}

.bolor-white {
    border-color: white;
}

.mycard {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.mycard-md {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 30vw;
    min-width: 300px;
}

.myspacer-10 {
    width: 10vw;
    height: 10vh;
}

.myoutline-0{
    outline: none;
}

.myfs-1 {
    font-size: 12px;
}
/* General Style End */

/* Welcome Page Style */
.myicons-feature {
    width: 50px;
}

.myfacility-icons{
    height: 100px;
}
/* Welcome Page End */

/* Login Page Style */
.bg-fullscreen{
    background-image: url("../images/lab-mobile.jpg");
    background-position: center;
}

.myinput{
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    min-width: 150;
    border-radius: 10px;
    height: 50px;
    border: none;
    padding: 10px;
    color: white;
}

.mybutton{
    background-color: #A67B5B;
    border-radius: 10px;
    border: none;
    padding: 20px;
    color: black;
    font-weight: 500;
    width: 100%;
}
/* Login Page End */
