html{
    overflow-x: hidden;
}

body {
    font-family: 'Work Sans';
}

.mytext-shadowed {
    text-shadow: 4px 4px 10px #000000;
}

.mysite-title {
    color: rgba(111, 78, 55, 1);
}

.mycontainer-service {
    background-color: rgba(254, 216, 177, 1);
}

.myimage-darken {
    filter: brightness(50%);
}

.mytext-brown {
    color: rgba(111, 78, 55, 1);
}

.mycard-brown {
    background-color: rgba(111, 78, 55, 1);
}

.mydivider-white {
    width: 100px;
    border-color: white;
    border-width: 2px;
}

.mydivider-brown {
    width: 100px;
    border-color: rgba(111, 78, 55, 1);
    border-width: 2px;
}

.myicons-feature {
    width: 50px;
}

.mycard {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.mycontainer-contact {
    background-image: url('../images/computer-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.myfacility-icons{
    height: 100px;
}
